@model Movie

<h3>@Model.Title</h3>

<table class="table">
    <tr>
        <th>Movie ID</th>
        <th>Title</th>
        <th>Rating</th>
        <th>Year Reviewed</th>
    </tr>
    <tr>
        <td>@Model.id_movie</td>
        <td>@Model.Title</td>
        <td>@Model.Rating</td>
        <td>@Model.year_reviewed</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Movie/UpdateMovie/@Model.id_movie" class="btn btn-light">Update</a>
</div>


<div style="display: block">

    @using (Html.BeginForm("DeleteMovie", "Movie", "Post"))
    {
        <input type="hidden" asp-for="id_movie" value="@Model.id_movie" />
        <input type="submit" class="btn btn-warning" onclick="return confirm('Are you sure?')" value="Delete " />
    }
</div>

<style>

    body {
        background-color: darkorange;
    }
</style>